#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #e0e0e0;
}

body {
  font-family: Verdana, sans-serif;
}



.layout {
  display: flex;
  height: 100vh;
}

/*sidebar*/
aside {
  height: 100%;
  width: 120px;
  position: fixed;
  z-index:1;
  left:0;
  top:0;
  background: #007EA7;
  border-right: 1px solid #007EA7;
  padding: 10px;
}

/*new note button*/
.new-btn {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

/*sidebar notes*/
.note-list {
  list-style: none;
  padding: 0;
  background-color: #007EA7;
}

/*sidebar buttons*/

.nav {
  display: block;
  padding: 8px 12px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  color: #000000;
}

.nav:hover {
  background: #f3f3f3;
}

.nav.active {
  background: #e5e5e5;
  font-weight: 600;
}




/*main content*/
.content {
  flex: 1;
  padding: 30px;
}

/*editor content*/
.editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
  
}

.title-input {
  font-size: 28px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  background: #f3f3f3;
  color: #00171F;
}

.text-input {
  flex: 1;
  font-size: 16px;
  border: none;
  outline: none;
  resize: none;
  background: #f3f3f3;
  color: #00171F;
}

.button-container {
  display: flex;
  /* Optional: Add space between the buttons */
  gap: 10px;
  /* Optional: Center the buttons within their parent container */
  justify-content: center;
  /* Optional: Align the buttons along the cross axis (vertically centered if container has a height) */
  align-items: center;
}

.empty {
  color: #888;
  font-size: 16px;
}

.home {
  color: #888;
  font-size: 16px;
}

